
<div class="container" style="height: 400px; overflow: auto;" id="test123">
  <!-- Example row of columns -->
  <div class="" style="height: 800px;">
    <input type="text" class="form-control" style="display: block; width: 100%;"/>
    <input type="text" class="form-control" style="display: block; width: 100%;"/>
    <input type="text" class="form-control" style="display: block; width: 100%;"/>
    <input type="text" class="form-control" style="display: block; width: 100%;"/>
    <input type="text" class="form-control" style="display: block; width: 100%;"/>
    <input type="text" class="form-control" style="display: block; width: 100%;"/>
    <input type="text" class="form-control" style="display: block; width: 100%;"/>
    <input type="text" class="form-control" style="display: block; width: 100%;"/>
    <input type="text" class="form-control" style="display: block; width: 100%;"/>
    <input type="text" class="form-control" style="display: block; width: 100%;"/>
    <div class="input-group">
      <input type="text" class="form-control" #dateInput />
      <span class="input-group-btn">
              <button class="btn btn-secondary" type="button" (click)="openCalendar()">
                <i class="fa fa-calendar" aria-hidden="true"></i>
              </button>
            </span>
    </div>
    <lc-datepicker [appendById]="'test123'" #calendar [(opened)]="CalendarOpened" [config]="config" [(date)]="setDate"></lc-datepicker>
  </div>
</div>
<!-- /container -->
